@{
    ViewBag.Title = "Trigger Red | Home";
    Layout = "~/Views/Shared/LandingLayout.cshtml";
}

@model CipherPark.TriggerRed.Web.Models.LandingViewModel
@using CipherPark.TriggerRed.Web.Models;

<!-- BEGIN PAGE CONTAINER -->
    <div class="c-layout-page">
        <!-- BEGIN: PAGE CONTENT -->
        <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
        <section class="c-layout-revo-slider c-layout-revo-slider-7" dir="ltr">
            <div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
                <div class="c-singup-form">
                    <h3 class="c-font-54 c-font-thin c-font-white c-margin-b-40 c-font-uppercase">
                        See the <span class="c-font-bold">Hottest</span> Products selling on Ebay
                    </h3>

                    <h5 class="c-font-24 c-font-thin c-font-uppercase c-font-white c-subtitle c-margin-b-40">
                        CATALOG OF HOT SELLING PRODUCTS UPDATED DAILY
                    </h5>

                    <form class="form-inline" action="#">                                      
                        <a href="~/Insights/Explore" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-btn-bold c-btn-border-1x">EXPLORE NOW</a>
                    </form>
                </div>
                <div class="tp-banner rev_slider" data-version="5.0">
                    <ul>
                        <!--BEGIN: SLIDE #1 -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                            <img alt=""
                                 src="~/Content/trigger_red_hero_5.jpg"
                                 data-bgposition="center center"
                                 data-bgfit="cover"
                                 data-bgrepeat="no-repeat">
                        </li>
                        <!--END -->
                        <!--BEGIN: SLIDE #2 -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                            <img alt=""
                                 src="~/Content/trigger_red_hero_2.jpg"
                                 data-bgposition="center center"
                                 data-bgfit="cover"
                                 data-bgrepeat="no-repeat">
                        </li>
                        <!--END -->
                    </ul>
                </div>
            </div>
        </section>
        <!-- END: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
        
        <!-- BEGIN: CONTENT/STEPS/STEPS-1 -->
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="c-content-title-1 c-margin-b-60">
                            <h3 class="c-center c-font-uppercase c-font-bold">
                                Simple And Effective Approach
                            </h3>
                            <div class="c-line-center"></div>
                            <p class="c-center c-font-uppercase c-font-17">
                                We perform these steps to discover the hottest products for you
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12 wow animate fadeInLeft">
                        <div class="c-content-step-1 c-opt-1">
                            <div class="c-icon"><span class="c-hr c-hr-first"><span class="c-content-line-icon c-icon-13 c-theme"></span></span></div>
                            <div class="c-title c-font-20 c-font-bold c-font-uppercase">1. Search Ebay</div>
                            <div class="c-description c-font-17">
                                We begin each day by discovering all products listed on Ebay 7 days ago.
                                <br />&nbsp;                               
                            </div>
                            <a href="#" class="btn c-btn-square c-theme-btn c-btn-border1-2x c-btn-uppercase c-btn-bold">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 wow animate fadeInLeft" data-wow-delay="0.2s">
                        <div class="c-content-step-1 c-opt-1">
                            <div class="c-icon"><span class="c-hr"><span class="c-content-line-icon c-icon-11 c-theme"></span></span></div>
                            <div class="c-title c-font-20 c-font-bold c-font-uppercase">2. Filter Product Ideas</div>
                            <div class="c-description c-font-17">
                                We filter the discovered products for those having minimum sell rate of <br /><span class="c-font-bold">one sale per day</span>.
                                <br />&nbsp;
                            </div>
                            <a href="#" class="btn c-btn-square c-theme-btn c-btn-border1-2x c-btn-uppercase c-btn-bold">READ MORE</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 wow animate fadeInLeft" data-wow-delay="0.4s">
                        <div class="c-content-step-1 c-opt-1">
                            <div class="c-icon"><span class="c-hr c-hr-last"><span class="c-content-line-icon c-icon-1 c-theme"></span></span></div>
                            <div class="c-title c-font-20 c-font-bold c-font-uppercase">3. WAREHOUSE</div>
                            <div class="c-description c-font-17">
                                We cache discovered products in our contextual database for easy searching.   
                                <br />&nbsp;
                            </div>
                            <a href="#" class="btn c-btn-square c-theme-btn c-btn-border1-2x c-btn-uppercase c-btn-bold">READ MORE</a>
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
        <!-- END: CONTENT/STEPS/STEPS-1 -->      
     
        <!-- BEGIN: CONTENT/TABS/TAB-2 -->
        <div class="c-content-box c-size-md c-bg-grey-1">
            <div class="container">
                <div class="c-content-title-1 c-opt-1 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown; opacity: 1;">
                    <div class="c-content-title-1 c-margin-b-60">
                        <h3 class="c-center c-font-uppercase c-font-bold">
                            Featured
                        </h3>
                        <div class="c-line-center"></div>
                        <p class="c-center c-font-uppercase c-font-17">                           
                        </p>
                    </div>
                </div>
                <div class="c-content-events-1">
                    <div class="row">
                        @foreach (var post in Model.BlogPosts.Take(3))
                        {
                        <div class="col-md-4">
                            <div class="c-content-events-1-item wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft; opacity: 1;">
                                <div class="c-content-events-1-img-container">
                                    <img class="c-content-events-1-img c-border c-border-grey-" src="@post.CoverImageUrl" style="height:250px">
                                </div>
                                <div class="c-content-events-1-content-container">
                                    <div class="c-content-events-1-cat">@post.Category</div>
                                    <h3 class="c-content-events-1-title">@post.Title</h3>
                                    <p class="c-content-events-1-desc">@(Html.Raw(post.Summary))</p>
                                    <a href="@Url.Action("RecentPosts", "Blog")" class="c-content-events-1-link">View All</a>
                                </div>
                            </div>
                        </div>
                        }               
                        <!--
                        <div class="col-md-4">
                            <div class="c-content-events-1-item c-events-1-featured wow fadeIn" style="border-radius:0px" data-wow-delay="0.5s" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeIn; opacity: 1;">
                                <div class="c-content-events-1-content-container">
                                    <div class="c-content-events-1-cat">Premium Features</div>
                                    <h3 class="c-content-events-1-title">Premium Features Comming Soon!</h3>
                                    <p class="c-content-events-1-desc">Welcome to <span class="c-font-black c-font-bold">Trigger<span class="c-font-red">Red</span></span> Beta.<br /> Below are some of the premium features arriving soon.</p>
                                    <ul class="c-content-events-1-list">
                                        <li class="c-content-events-1-list-item">
                                            <span>Product Performance Tracking</span>
                                        </li>
                                        <li class="c-content-events-1-list-item">
                                            <span>Daily Email Alerts</span>
                                        </li>
                                        <li class="c-content-events-1-list-item">
                                            <span>Excel Report Download</span>
                                        </li>
                                        <li class="c-content-events-1-list-item">
                                            <span>Tech Support</span>
                                        </li>
                                    </ul>
                                    <a href="#" class="c-content-events-1-link btn c-btn c-theme-btn c-btn-square c-font-uppercase">Try Beta</a>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END: CONTENT/TABS/TAB-2 -->    
        
        <!-- BEGIN PRODUCT GRID -->
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">Recent Listings</h3>
                    <div class="c-line-center"></div>
                    <p class="c-center c-font-uppercase c-font-17">
                        Last Updated March 30, 2019
                    </p>
                </div>
                <!-- BEGIN: CONTENT/SHOPS/SHOP-2-7 -->
                <div class="c-bs-grid-small-space">

                    <div class="row">
                        @foreach (var product in Model.Products.Take(4))
                        { 
                            <div class="col-md-3 col-sm-6 c-margin-b-20">
                                <div class="c-content-product-2 c-bg-white c-border">
                                    <div class="c-content-overlay">
                                        <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">@product.SellerLevel</div>
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="@Url.Action("Explore", "Insights")" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                            </div>
                                        </div>
                                        <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(@product.LargeImageUrl);"></div>
                                    </div>
                                    <div class="row c-info">
                                        <p class="c-title c-font-16 c-font-slim">@product.CategoryName</p>
                                        <div class="col-xs-4 c-price c-font-14 c-font-slim">
                                            <span class="c-font-14 c-font-red">@product.Price.ToString("C")</span>
                                        </div>
                                        <div class="col-xs-8 c-price c-font-14 c-font-slim">
                                            Sold <span class="c-font-14 c-font-red">@product.UnitsSold</span> units in 7 days
                                        </div>                                        
                                    </div>
                                    <div class="btn-group btn-group-justified" role="group">
                                        <div class="btn-group c-border-top" role="group">
                                            <a href="@Url.Action("Explore", "Insights")" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Explore</a>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        }                   
                    </div>

                    <div class="row">
                        @foreach (var product in Model.Products.Skip(4).Take(4))
                        {
                            <div class="col-md-3 col-sm-6 c-margin-b-20">
                                <div class="c-content-product-2 c-bg-white c-border">
                                    <div class="c-content-overlay">
                                        <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">@product.SellerLevel</div>
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="@Url.Action("Explore", "Insights")" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                            </div>
                                        </div>
                                        <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(@product.LargeImageUrl);"></div>
                                    </div>
                                    <div class="row c-info">
                                        <p class="c-title c-font-16 c-font-slim">@product.CategoryName</p>
                                        <div class="col-xs-4 c-price c-font-14 c-font-slim">
                                            <span class="c-font-14 c-font-red">@product.Price.ToString("C")</span>
                                        </div>
                                        <div class="col-xs-8 c-price c-font-14 c-font-slim">
                                            Sold <span class="c-font-14 c-font-red">@product.UnitsSold</span> units in 7 days
                                        </div>
                                    </div>
                                    <div class="btn-group btn-group-justified" role="group">
                                        <div class="btn-group c-border-top" role="group">
                                            <a href="@Url.Action("Explore", "Insights")" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Explore</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>

                    <div class="row">
                        @foreach (var product in Model.Products.Skip(8).Take(4))
                        {
                            <div class="col-md-3 col-sm-6 c-margin-b-20">
                                <div class="c-content-product-2 c-bg-white c-border">
                                    <div class="c-content-overlay">
                                        <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">@product.SellerLevel</div>
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="@Url.Action("Explore", "Insights")" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                            </div>
                                        </div>
                                        <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url(@product.LargeImageUrl);"></div>
                                    </div>
                                    <div class="row c-info">
                                        <p class="c-title c-font-16 c-font-slim">@product.CategoryName</p>
                                        <div class="col-xs-4 c-price c-font-14 c-font-slim">
                                            <span class="c-font-14 c-font-red">@product.Price.ToString("C")</span>
                                        </div>
                                        <div class="col-xs-8 c-price c-font-14 c-font-slim">
                                            Sold <span class="c-font-14 c-font-red">@product.UnitsSold</span> units in 7 days
                                        </div>
                                    </div>
                                    <div class="btn-group btn-group-justified" role="group">
                                        <div class="btn-group c-border-top" role="group">
                                            <a href="@Url.Action("Explore", "Insights")" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Explore</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>

                </div><!-- END: CONTENT/SHOPS/SHOP-2-7 -->
                <div class="row c-margin-t-30 c-margin-b-30">
                    <div class="col-xs-12 c-center">
                        <a href="@Url.Action("Explore", "Insights")" class="btn c-btn-square c-theme-btn c-btn-uppercase c-btn-bold">EXPLORE ALL</a>
                    </div>
                </div>
               
            </div>
        </div>
        <!-- END PRODUCT GRID -->
    
        <!-- END: PAGE CONTENT -->
    </div>
<!-- END: PAGE CONTAINER -->
<footer class="c-layout-footer c-layout-footer-1">
    <div class="c-postfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <p class="c-copyright c-font-grey">
                        2019 &copy; Trigger<span class="c-font-red">Red</span>
                        <span class="c-font-grey-3">All Rights Reserved.</span>
                    </p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <p class="c-copyright c-font-white c-font-uppercase c-font-bold"> 
                        <a class="c-copyright c-font-14 c-font-grey-4 c-font-uppercase c-font-bold" href="~/Home/Index">HOME</a>&nbsp;&nbsp; 
                        <a class="c-copyright c-font-14 c-font-grey-4 c-font-uppercase c-font-bold" href="~/Home/About">ABOUT</a>&nbsp;&nbsp;
                        <a class="c-copyright c-font-14 c-font-grey-4 c-font-uppercase c-font-bold" href="~/Content/agreements/Privacy.html">Privacy</a>&nbsp;&nbsp;
                        <a class="c-copyright c-font-14 c-font-grey-4 c-font-uppercase c-font-bold" href="~/Content/agreements/Terms.html">Terms &amp; Conditions</a>&nbsp;&nbsp;
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
<div class="c-layout-go2top">
    <i class="icon-arrow-up"></i>
</div><!-- END: LAYOUT/FOOTERS/GO2TOP -->
@section ready {
<script>
        $(document).ready(function () {
            var slider = $('.c-layout-revo-slider .tp-banner');
            var cont = $('.c-layout-revo-slider .tp-banner-container');

            var api = slider.show().revolution({
                sliderType: "standard",
                sliderLayout: "fullscreen",
                responsiveLevels: [2048, 1024, 778, 480],
                gridwidth: [1170, 1024, 778, 480],
                gridheight: [620, 768, 960, 720],
                delay: 15000,
                startwidth: 1170,
                startheight: 620,

                touchenabled: "on",

                navigation: {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "on",
                    arrows: {
                        style: "circle",
                        enable: true,
                        hide_onmobile: false,
                        hide_onleave: false,
                        tmp: '',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 30,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 30,
                            v_offset: 0
                        }
                    }
                },

                spinner: "spinner2",

                shadow: 0,
                fullWidth: "off",
                forceFullWidth: "off",
                disableProgressBar: "on",

                hideThumbsOnMobile: "on",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "on",
                hideArrowsOnMobile: "on",
                hideThumbsUnderResolution: 0
            });

            api.bind("revolution.slide.onchange", function (e, data) {

                $('.c-layout-header').removeClass('hide');

                setTimeout(function () {
                    $('.c-singup-form').fadeIn();
                }, 1500);
            });
        }); //ready
</script>

<script>
        //Add a new method to arrays which
        Array.prototype.find = function (predicate) {
            for (i = 0; i < this.length; i++)
                if (predicate(this[i]) == true)
                    return this[i];
            return null;
        };
</script>
<script>
    angular.module('triggerOrangeApp', ['orange', 'ngAnimate', 'ui.bootstrap'])
        .controller('triggerOrangeCtlr', function ($scope, $http) {
           

        });
</script>

}
