@using CipherPark.TriggerOrange.Web.Models
@{
    ViewBag.Title = "Search Posts";   
}

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
    <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">Insights</h3>
            </div>
        </div>
    </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: BLOG LISTING -->
    <div class="c-content-box c-size-md">
        <div ng-cloak class="container">
            <div class="row">
                <!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                <div class="col-md-3 col-md-push-9 c-margin-b-30">
                    <!-- BEGIN SEARCH BAR-->
                    <form action="#" method="post">
                        <div class="input-group">
                            <input name="email" type="text" ng-model="keywords" class="form-control c-square c-theme-border" placeholder="Search posts...">
                            <span class="input-group-btn">
                                <button class="btn c-theme-btn c-theme-border c-btn-square" type="button" ng-click="onSearchClick()">Go!</button>
                            </span>
                        </div>
                    </form>
                    <!-- END SEARCH BAR -->
                    <!-- BEGIN QUICK NAV -->
                    <div class="c-content-ver-nav">
                        <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
                            <h3 class="c-font-bold c-font-uppercase">SELLER LEVEL</h3>
                            <div class="c-line-left c-theme-bg"></div>
                        </div>
                        <ul class="c-menu c-arrow-dot c-theme">
                            <li>                             <a ng-class="{'c-font-red-2' : isActiveBlog(''), 'c-font-bold' : isActiveBlog('')}" href="@Url.Action("SearchPosts")">All</a></li>
                            <li ng-repeat="cat in categories"><a ng-class="{'c-font-red-2' : isActiveBlog(cat.Caption), 'c-font-bold' : isActiveBlog(cat.Caption)}" href="@Url.Action("SearchPosts", "Insights")?id={{cat.Id}}">{{cat.Caption}}</a></li>
                        </ul>
                    </div>
                    <!-- BEGIN SUBSCRIPTION BAR-->
                    <div class="c-margin-t-50 hidden-sm hidden-xs">                       
                        <form action="@Url.Action("Subscribe")" method="post">
                            <div><span class="c-font-bold c-font-grey-3 c-font-14 c-font-uppercase">Subscribe to BI-WEEKLY report</span></div>
                            <div class="input-group">
                                <input type="text" ng-model="keywords" class="form-control c-square c-theme-border" placeholder="Enter email...">
                                <span class="input-group-btn">
                                    <button class="btn c-theme-btn c-theme-border c-btn-square" type="submit">Subscribe</button>
                                </span>
                            </div>
                         
                        </form>                        
                    </div>
                    <!-- END SUBSCRIPTION BAR -->
                </div>
                <!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                <!-- BEGIN MAIN CONTENT AREA -->
                <div class="col-md-9 col-md-pull-3">                   
                    <div class="c-content-title-1 c-theme c-title-md">
                        <h3 class="c-font-bold c-font-uppercase"><span class="c-font-grey-3">@(Model.BlogName ?? "All") </span>Posts</h3>
                        <div class="c-line-left c-theme-bg"></div>
                    </div>
                    <!-- BEGIN POSTS -->
                    <div class="c-content-blog-post-card-1-grid">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="c-content-blog-post-card-1 c-option-2 c-bordered">
                                    <div class="c-media c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="#"><i class="icon-link"></i></a>
                                                <a href="../../assets/base/img/content/stock2/04.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <img class="c-overlay-object img-responsive" src="../../assets/base/img/content/stock2/04.jpg" alt="">
                                    </div>
                                    <div class="c-body">
                                        <div class="c-title c-font-bold c-font-uppercase">
                                            <a href="#">Web &amp; Mobile Development</a>
                                        </div>
                                        <div class="c-author">
                                            By <a href="#"><span class="c-font-uppercase">Nick Strong</span></a>
                                            on <span class="c-font-uppercase">20 May 2015, 10:30AM</span>
                                        </div>

                                        <div class="c-panel">
                                            <ul class="c-tags c-theme-ul-bg">
                                                <li>ux</li>
                                                <li>web</li>
                                                <li>events</li>
                                            </ul>
                                            <div class="c-comments"><a href="#"><i class="icon-speech"></i> 30 comments</a></div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, dolor adipisicing dolor sit amet elit atis unde omnis iste natus error sit dolor.
                                            Nulla nemo ad sapiente officia amet. Sed ut perspiciatis unde omnis iste natus error sit.
                                        </p>
                                    </div>
                                </div>
                                <div class="c-content-blog-post-card-1 c-option-2 c-bordered">
                                    <div class="c-media c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="#"><i class="icon-link"></i></a>
                                                <a href="../../assets/base/img/content/stock2/06.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <img class="c-overlay-object img-responsive" src="../../assets/base/img/content/stock2/06.jpg" alt="">
                                    </div>
                                    <div class="c-body">
                                        <div class="c-title c-font-bold c-font-uppercase">
                                            <a href="#">Efficient Coding</a>
                                        </div>
                                        <div class="c-author">
                                            By <a href="#"><span class="c-font-uppercase">Greg Idra</span></a>
                                            on <span class="c-font-uppercase">23 May 2015, 10:30AM</span>
                                        </div>

                                        <div class="c-panel">
                                            <ul class="c-tags c-theme-ul-bg">
                                                <li>HTML</li>
                                                <li>CSS</li>
                                                <li>PHP</li>
                                            </ul>
                                            <div class="c-comments"><a href="#"><i class="icon-speech"></i> 14 comments</a></div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, dolor adipisicing dolor sit amet dolor sit amet elit.
                                            Nulla nemo ad sapiente officia amet ipsum dolor sit amet.
                                        </p>
                                    </div>
                                </div>
                                <div class="c-content-blog-post-card-1 c-option-2 c-bordered">
                                    <div class="c-media">
                                        <iframe src="https://player.vimeo.com/video/105329112" width="100%" height="300" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                                    </div>
                                    <div class="c-body">
                                        <div class="c-title c-font-bold c-font-uppercase">
                                            <a href="#">Modern Web Trends</a>
                                        </div>
                                        <div class="c-author">
                                            By <a href="#"><span class="c-font-uppercase">Tracy Trendy</span></a>
                                            on <span class="c-font-uppercase">25 May 2015, 10:30AM</span>
                                        </div>

                                        <div class="c-panel">
                                            <ul class="c-tags c-theme-ul-bg">
                                                <li>Design</li>
                                                <li>web</li>
                                                <li>trends</li>
                                            </ul>
                                            <div class="c-comments"><a href="#"><i class="icon-speech"></i> 36 comments</a></div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, dolor adipisicing dolor sit amet dolor sit amet elit.
                                            Nulla nemo ad sapiente officia amet ipsum dolor sit amet.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="c-content-blog-post-card-1 c-option-2 c-bordered">
                                    <div class="c-media c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="#"><i class="icon-link"></i></a>
                                                <a href="../../assets/base/img/content/stock2/2.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <img class="c-overlay-object img-responsive" src="../../assets/base/img/content/stock2/2.jpg" alt="">
                                    </div>
                                    <div class="c-body">
                                        <div class="c-title c-font-bold c-font-uppercase">
                                            <a href="#">Code optimization</a>
                                        </div>
                                        <div class="c-author">
                                            By <a href="#"><span class="c-font-uppercase">Paul Roger</span></a>
                                            on <span class="c-font-uppercase">26 May 2015, 10:30AM</span>
                                        </div>

                                        <div class="c-panel">
                                            <ul class="c-tags c-theme-ul-bg">
                                                <li>code</li>
                                                <li>clean</li>
                                                <li>HTML</li>
                                            </ul>
                                            <div class="c-comments"><a href="#"><i class="icon-speech"></i> 17 comments</a></div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, dolor adipisicing dolor sit amet elit.
                                            Nulla nemo ad sapiente officia amet.
                                        </p>
                                    </div>
                                </div>
                                <div class="c-content-blog-post-card-1 c-option-2 c-bordered">
                                    <div class="c-media c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="#"><i class="icon-link"></i></a>
                                                <a href="../../assets/base/img/content/stock2/03.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <img class="c-overlay-object img-responsive" src="../../assets/base/img/content/stock2/03.jpg" alt="">
                                    </div>
                                    <div class="c-body">
                                        <div class="c-title c-font-bold c-font-uppercase">
                                            <a href="#">Device Optimization</a>
                                        </div>
                                        <div class="c-author">
                                            By <a href="#"><span class="c-font-uppercase">Tim Book</span></a>
                                            on <span class="c-font-uppercase">28 May 2015, 10:30AM</span>
                                        </div>

                                        <div class="c-panel">
                                            <ul class="c-tags c-theme-ul-bg">
                                                <li>iOS</li>
                                                <li>Android</li>
                                                <li>Web</li>
                                            </ul>
                                            <div class="c-comments"><a href="#"><i class="icon-speech"></i> 38 comments</a></div>
                                        </div>
                                        <p>
                                            Lorem ipsum atis unde omnis iste natus error sit dolor dolor sit amet,
                                            atis unde omnis iste natus error sit dolor dolor adipisicing dolor sit amet elit.
                                            Nulla nemo ad sapiente officia amet.
                                        </p>
                                    </div>
                                </div>
                                <div class="c-content-blog-post-card-1 c-option-2 c-bordered">
                                    <div class="c-media c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="#"><i class="icon-link"></i></a>
                                                <a href="../../assets/base/img/content/stock2/01.jpg" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <img class="c-overlay-object img-responsive" src="../../assets/base/img/content/stock2/01.jpg" alt="">
                                    </div>
                                    <div class="c-body">
                                        <div class="c-title c-font-bold c-font-uppercase">
                                            <a href="#">Customer Satisfaction</a>
                                        </div>
                                        <div class="c-author">
                                            By <a href="#"><span class="c-font-uppercase">Sara Conner</span></a>
                                            on <span class="c-font-uppercase">29 May 2015, 10:30AM</span>
                                        </div>

                                        <div class="c-panel">
                                            <ul class="c-tags c-theme-ul-bg">
                                                <li>Guide</li>
                                                <li>live</li>
                                                <li>events</li>
                                            </ul>
                                            <div class="c-comments"><a href="#"><i class="icon-speech"></i> 9 comments</a></div>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit dolor adipisicing dolor sit amet elit.
                                            Nulla nemo ad sapiente officia amet ipsum dolor sit amet ipsum dolor sit amet  perspiciatis unde omnis iste natus error sit dolo.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <!-- END POSTS -->
                   
                    <!-- BEGIN BOTTOM AD -->
                    <div>

                    </div>
                    <!-- END BOTTOM AD -->
                </div>
                
                
                <div class="c-center c-margin-t20">
                    <ul uib-pagination
                        template-url="template/pagination/orangepagination.html"
                        ng-model="tableState.pagination.currentPage"
                        ng-change="onPageChanged()"
                        max-size="10"
                        total-items="tableState.pagination.totalItemCount"
                        boundary-link-numbers="true"
                        items-per-page="tableState.pagination.pageSize"
                        class="pagination-sm"
                        rotate="false"
                        ng-show="!isLoading && !isEmpty"></ul>
                </div>
            </div>
            <!-- END MAIN CONTENT AREA -->
        </div>
    </div>
</div>
<!-- END: BLOG LISTING  -->
<!-- END: PAGE CONTENT -->

<!-- END: PAGE CONTAINER -->

<script id="template/pagination/orangepagination.html" type="text/ng-template">
    <ul class="c-content-pagination c-square c-theme">
        <li ng-if="::boundaryLinks" ng-class="{disabled: noPrevious()||ngDisabled}"><a href="#" ng-click="selectPage(1, $event)"><i class="fa fa-angle-double-left"></i></a></li>
        <li ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}"><a href="#" ng-click="selectPage(page - 1, $event)"><i class="fa fa-angle-left"></i></a></li>
        <li ng-repeat="page in pages track by $index" ng-class="{'c-active': page.active}"><a href="#" ng-click="selectPage(page.number, $event)">{{page.text}}</a></li>
        <li ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}"><a href="#" ng-click="selectPage(page + 1, $event)"><i class="fa fa-angle-right"></i></a></li>
        <li ng-if="::boundaryLinks" ng-class="{disabled: noNext()||ngDisabled}"><a href="#" ng-click="selectPage(totalPages, $event)"><i class="fa fa-angle-double-right"></i></a></li>
    </ul>
</script>

<script type="text/ng-template" id="CreateEditReport.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Update Report</h4>
    </div>
    <div class="modal-body">
        <label class="control-label">Name:</label>
        <input type="text" class="form-control c-square c-theme input-lg" placeholder="Enter Report Name" ng-model="reportName">
        <div class="c-margin-t-5">
            <textarea ng-model="comments" class="form-control c-square c-theme input-lg" style="min-height: 250px;" placeholder="Enter Description Here"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" ng-click="ok()">OK</button>
        <button type="submit" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="ConfirmDelete.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Confirm Delete</h4>
    </div>
    <div class="modal-body">
        <label class="control-label">Delete this report?</label>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" ng-click="ok()">YES</button>
        <button type="submit" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold" ng-click="cancel()">NO</button>
    </div>
</script>

@section ready{
    <!-- BEGIN TRIGGER ORANGE APP ANGULAR CONTROLLER(S) -->
    <script>
            angular.module('triggerOrangeApp', ['orange', 'ngAnimate', 'ui.bootstrap', 'ngSanitize'])
                //*** Main Controller ***
            .controller('triggerOrangeCtlr', function ($scope, $http, $window, $uibModal) {
                $scope.tableState = {
                    pagination: {
                        currentPage: 1,
                        pageSize: 1,
                        totalItemCount: 0
                    },
                };
               $scope.keywords = null,
               $scope.sortKey = null;
               $scope.blogId = "@Model.BlogId";
               $scope.blogName = "@Model.BlogName";
               $scope.isEmpty = false;
               $scope.isLoading = false;
               $scope.isInitializing = true;
               $scope.notifications = [];
               $scope.getPostsPipe = function (tableState) {
                   if ($scope.isInitializing == true) {
                       $scope.isInitializing = false;
                   }
                   $scope.tableState = tableState;
                   var postData = {
                       "pageSize": tableState.pagination.pageSize,
                       "currentPage": tableState.pagination.currentPage,
                       "sortKey": $scope.sortKey,
                       "blogId": $scope.blogId,
                       "keywords": $scope.keywords,
                   };
                   $scope.isLoading = true;
                   $scope.isEmpty = true;
                   $http.post('@Url.Action("GetPosts", "Blog")', postData).success(function (result) {
                       tableState.pagination.currentPage = result.currentPage;
                       tableState.pagination.totalItemCount = result.nTotalItemCount;
                       $scope.posts = result.posts;
                       $scope.isLoading = false;
                       $scope.isEmpty = result.posts.length == 0;
                       ajaxHistory.Save({
                       });
                   }).error(function (result) {
                       $scope.isLoading = false;
                       $scope.isEmpty = true;
                   });
               };
               $scope.getCategories = function () {
                   var postData = null;
                   $http.post('@Url.Action("GetCategories", "Blog")', postData).success(function (result) {
                       $scope.categories = result.categories;
                   });
               };
               $scope.onSearchClick = function () {
                   $window.scrollTo(0, 0);
                   $scope.tableState.pagination.currentPage = 1;
                   $scope.getPostsPipe($scope.tableState);
               };
               $scope.onPageChanged = function () {
                   $window.scrollTo(0, 0);
                   $scope.getPostsPipe($scope.tableState);
               };
               $scope.resultRangeText = function () {
                   var firstItemOrdinal = ($scope.tableState.pagination.currentPage - 1) * $scope.tableState.pagination.pageSize + 1;
                   var lastItemOrdinal = Math.min($scope.tableState.pagination.currentPage * $scope.tableState.pagination.pageSize, $scope.tableState.pagination.totalItemCount);
                   return firstItemOrdinal + " - " + lastItemOrdinal;
               };
               $scope.isActiveBlog = function (caption) {
                   return $scope.blogName == caption;
               }
               $scope.getPostsPipe($scope.tableState);
               $scope.getCategories();
            });
    </script>
    <!-- END TRIGGER ORANGE APP ANGULAR CONTROLLER(S) -->
}

