@using CipherPark.TriggerRed.Web.Models
@{
    ViewBag.Title = "View Post";
}
@model BlogPostModel
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
    <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h4 class="c-font-uppercase c-font-sbold">@DateTime.Today.ToLongDateString()</h4>
            </div>
        </div>
    </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: BLOG LISTING -->
    <div class="c-content-box c-size-md">
        <div ng-cloak class="container">
            <div class="row">
                <!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                <div class="col-md-3 col-md-push-9 c-margin-b-30">
                   
                </div>
                <!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
                <!-- BEGIN MAIN CONTENT AREA -->
                <div class="col-md-9 col-md-pull-3">
                    <div class="c-content-blog-post-1-view">
                        <div class="c-content-blog-post-1">
                            <div class="c-media c-content-overlay">                                
                                <img class="c-overlay-object img-responsive" src="@Model.CoverImageUrl"  alt="" style="max-height:500px;width:100%">
                            </div>

                            <div class="c-title c-font-bold c-font-uppercase">
                                @Model.Title
                            </div>

                            <div class="c-panel c-margin-b-30">
                                <div class="c-author"><a href="#">By <span class="c-font-uppercase">T.R. Staff</span></a></div>
                                <div class="c-date">on <span class="c-font-uppercase">@DateTimeHelper.FromUnixMilliseconds(Model.DateCreated).ToLongDateString()</span></div>
                                <ul class="c-tags c-theme-ul-bg">
                                    <li>@Model.ProductSellerLevel</li>
                                    <li>@Model.ProductPrice.ToString("C")</li>                                    
                                </ul>                              
                            </div>

                            <div class="c-desc">
                                <p>
                                    @Html.Raw(Model.Content)
                                </p>
                            </div>                           
                        </div>
                        <div class="c-margin-b-30">
                            @if (Model.PrevId.HasValue)
                            {
                            <a href="~/Blog/SinglePost/@Model.PrevId" class="btn c-btn-red-2 c-btn-square" style="width:100px">Previous</a>
                            }
                            @if (Model.NextId.HasValue)
                            {
                                <a href="~/Blog/SinglePost/@Model.NextId" class="btn c-btn-red-2 c-btn-square pull-right" style="width:100px">Next</a>
                            }
                        </div>
                    </div>
                    <!-- AddToAny BEGIN -->
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-title="Example Page Title">
                        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                        <a class="a2a_button_facebook"></a>
                        <a class="a2a_button_twitter"></a>
                        <a class="a2a_button_email"></a>                    
                        <a class="a2a_button_reddit"></a>
                        <a class="a2a_button_digg"></a>
                        <a class="a2a_button_print"></a>
                        <a class="a2a_button_copy_link"></a>
                    </div>
                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                    <!-- AddToAny END -->
                    <!-- BEGIN BOTTOM AD -->
                    <div>
                    </div>
                    <!-- END BOTTOM AD -->
                </div>
            </div>
            <!-- END MAIN CONTENT AREA -->
        </div>
    </div>
</div>

<!-- END: BLOG LISTING  -->
<!-- END: PAGE CONTENT -->
<!-- END: PAGE CONTAINER -->

<script id="template/pagination/orangepagination.html" type="text/ng-template">
    <ul class="c-content-pagination c-square c-theme">
        <li ng-if="::boundaryLinks" ng-class="{disabled: noPrevious()||ngDisabled}"><a href="#" ng-click="selectPage(1, $event)"><i class="fa fa-angle-double-left"></i></a></li>
        <li ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}"><a href="#" ng-click="selectPage(page - 1, $event)"><i class="fa fa-angle-left"></i></a></li>
        <li ng-repeat="page in pages track by $index" ng-class="{'c-active': page.active}"><a href="#" ng-click="selectPage(page.number, $event)">{{page.text}}</a></li>
        <li ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}"><a href="#" ng-click="selectPage(page + 1, $event)"><i class="fa fa-angle-right"></i></a></li>
        <li ng-if="::boundaryLinks" ng-class="{disabled: noNext()||ngDisabled}"><a href="#" ng-click="selectPage(totalPages, $event)"><i class="fa fa-angle-double-right"></i></a></li>
    </ul>
</script>

<script type="text/ng-template" id="CreateEditReport.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Update Report</h4>
    </div>
    <div class="modal-body">
        <label class="control-label">Name:</label>
        <input type="text" class="form-control c-square c-theme input-lg" placeholder="Enter Report Name" ng-model="reportName">
        <div class="c-margin-t-5">
            <textarea ng-model="comments" class="form-control c-square c-theme input-lg" style="min-height: 250px;" placeholder="Enter Description Here"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" ng-click="ok()">OK</button>
        <button type="submit" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="ConfirmDelete.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Confirm Delete</h4>
    </div>
    <div class="modal-body">
        <label class="control-label">Delete this report?</label>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" ng-click="ok()">YES</button>
        <button type="submit" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold" ng-click="cancel()">NO</button>
    </div>
</script>

@section localcss {
<style type="text/css">
    .a2a_svg, .a2a_count {
        border-radius: 0 !important;
    }
</style>
}

@section ready {
    <!-- BEGIN TRIGGER ORANGE APP ANGULAR CONTROLLER(S) -->
    <script>
            angular.module('triggerOrangeApp', ['orange', 'ngAnimate', 'ui.bootstrap', 'ngSanitize'])
                //*** Main Controller ***
            .controller('triggerOrangeCtlr', function ($scope, $http, $window, $uibModal) {

               $scope.blogName = "@Model.Category";
            });
    </script>
    <!-- END TRIGGER ORANGE APP ANGULAR CONTROLLER(S) -->
}

