@model CipherPark.TriggerRed.Web.Models.ExploreProductsViewModel
@using CipherPark.TriggerRed.Web.MvcHelpers;
@{
    ViewBag.Title = "Explore Early Product Trends | Trigger Red";
}

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">Early Product Trends</h3>
                <h4 class="">Research Fast-Selling Products On eBay</h4>                
            </div>    
            <div class="c-page-title c-pull-right">
                <img width="148" height="55" src="https://developer.ebay.com/cms/img/promote/ebay-rightnow-vert.png" />
            </div>
        </div>
    </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="container" ng-cloak>
        <div class="c-layout-sidebar-menu c-theme ">
            <!-- BEGIN: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU-2 -->
            <!-- BEGIN: CONTENT/SHOPS/SHOP-FILTER-SEARCH-1 -->
            <ul class="c-shop-filter-search-1 list-unstyled">
                <li>
                    <label class="control-label c-font-uppercase c-font-bold">Price Range</label>
                    <div class="c-price-range-box input-group">
                        <div class="c-price input-group col-md-6 pull-left">
                            <span class="input-group-addon c-square c-theme">$</span>
                            <input type="text" class="form-control c-square c-theme" placeholder="from" ng-model="filter.priceLow">
                        </div>
                        <div class="c-price input-group col-md-6 pull-left">
                            <span class="input-group-addon c-square c-theme">$</span>
                            <input type="text" class="form-control c-square c-theme" placeholder="to" ng-model="filter.priceHigh">
                        </div>
                    </div>
                </li>
                <li>
                    <label class="control-label c-font-uppercase c-font-bold">Seller Rank Range</label>
                    <div class="c-price-range-box input-group">
                        <div class="c-price input-group col-md-6 pull-left">
                            <span class="input-group-addon c-square c-theme"></span>
                            <input type="text" class="form-control c-square c-theme" placeholder="from" ng-model="filter.sellerRankLow">
                        </div>
                        <div class="c-price input-group col-md-6 pull-left">
                            <span class="input-group-addon c-square c-theme"></span>
                            <input type="text" class="form-control c-square c-theme" placeholder="to" ng-model="filter.sellerRankHigh">
                        </div>
                    </div>
                </li>
                <li>
                    <label class="control-label c-font-uppercase c-font-bold">Unit Range</label>
                    <div class="c-price-range-box input-group">
                        <div class="c-price input-group col-md-6 pull-left">
                            <span class="input-group-addon c-square c-theme"></span>
                            <input type="text" class="form-control c-square c-theme" placeholder="from" ng-model="filter.unitsLow">
                        </div>
                        <div class="c-price input-group col-md-6 pull-left">
                            <span class="input-group-addon c-square c-theme"></span>
                            <input type="text" class="form-control c-square c-theme" placeholder="to" ng-model="filter.unitsHigh">
                        </div>
                    </div>
                </li>
            </ul><!-- END: CONTENT/SHOPS/SHOP-FILTER-SEARCH-1 -->
            <!-- END: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU-2 -->
        </div>
        <div class="c-layout-sidebar-content ">
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: CONTENT/SHOPS/SHOP-ADVANCED-SEARCH-1 -->
            <form class="c-shop-advanced-search-1">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label">Keywords</label>
                        <input type="text" class="form-control c-square c-theme input-lg" placeholder="Enter keywords" ng-model="keywords">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label">Category</label>
                        <select id="RootCategories" class="form-control c-square c-theme input-lg" ng-options="cat.Value as cat.Name for cat in allRootCategories" ng-model="selectedValues.rootCategory" ng-change="onRootCategoryChange(true)"></select>
                    </div>
                </div>
                <div class="form-group" role="group">
                    <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" ng-click="onSearchClick()"><i class="fa fa-search"></i>Search</button>
                    <button type="submit" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold" ng-click="onClearClick()">Clear</button>
                </div>
            </form><!-- END: CONTENT/SHOPS/SHOP-ADVANCED-SEARCH-1 -->

            <div class="c-margin-t-30"></div>

            <!-- BEGIN: CONTENT/SHOPS/SHOP-RESULT-FILTER-1 -->
            <div class="c-shop-result-filter-1 clearfix form-inline">
                <div class="c-filter">
                    <label class="control-label c-font-16">Show:</label>
                    <select class="form-control c-square c-theme c-input" ng-model="tableState.pagination.pageSize">
                        <option value="12">12</option>
                        <option value="24">24</option>
                        <option value="48">48</option>
                        <option value="99">99</option>
                    </select>
                </div>
                <div class="c-filter">
                    <label class="control-label c-font-16" style="margin-left:50px">Sort&nbsp;By:</label>
                    @Html.DropDownList("sortKey", Model.SortKeys, new { @class = "form-control c-square c-theme c-input", @ng_model = "sortKey" })
                </div>
                <div class="c-filter c-margin-t-5" ng-show="!isLoading && !isEmpty">
                    <h4 class="c-font-grey-4">Showing {{resultRangeText()}} of {{tableState.pagination.totalItemCount}} Results</h4>
                </div>
            </div>
            <!-- END: CONTENT/SHOPS/SHOP-RESULT-FILTER-1 -->
            <div class="c-margin-t-40"></div>
            <div class="c-margin-t-20"></div>
            <!-- BEGIN: CONTENT/SHOPS/SHOP-2-8 -->
            <!-- BEGIN: CSS TABLE -->
            <div class="c-bs-grid-small-space" ng-show="!isLoading && !isEmpty">
                <div class="row" ng-repeat="productRow in productRows" >                    
                    <div class="col-lg-4 c-margin-b-20" ng-repeat="product in productRow.products">
                        <div class="c-content-product-2 c-bg-white c-border">
                            <div class="c-content-overlay">
                                <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">{{product.SellerLevel}} ({{product.SellerScore}})</div>                                
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <a href="{{product.ProductUrl}}" target="_blank" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">View On eBay</a>
                                    </div>
                                </div>
                                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url({{product.LargeImageUrl}});"></div>
                            </div>
                            <div class="row c-info">
                                <p class="c-title c-font-16 c-font-slim">{{product.CategoryName}}</p>
                                <div class="col-xs-4 c-price c-font-14 c-font-slim">
                                    <span class="c-font-14 c-font-red">{{product.Price|currency}}</span>
                                </div>
                                <div class="col-xs-8 c-price c-font-14 c-font-slim">
                                    Sold <span class="c-font-14 c-font-red">{{product.UnitsSold}}</span> units in 7 days
                                </div>
                            </div>
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group c-border-top" role="group">
                                    <a href="{{product.ProductUrl}}" target="_blank" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">View On eBay</a>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>                       
            <div class="c-center" ng-bind-html="rotatingAd"></div>
            @*
            <div class="c-content">
                <div class="c-content-product-2 c-margin-b-40" ng-repeat="product in products" ng-show="!isLoading && !isEmpty">
                    <div class="row c-margin-b-10">
                        <div class="col-md-4">
                            <div class="c-content-overlay c-margin-b-15">
                                <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">{{product.SellerLevel}}</div>
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <a href="{{product.ProductUrl}}" target="_blank" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">View Listing</a>
                                    </div>
                                </div>
                                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px;" ng-style="{'background-image': 'url(' + product.SmallImageUrl + ')'}"></div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-sm-12" style="min-height:50px;">
                                    <a class="c-theme-link" href="{{product.ProductUrl}}" target="_blank">
                                        <span class="c-font-18 c-font-bold">{{product.Name}}</span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 c-margin-t-5">
                                    <div class="c-border c-border-grey-1 c-center c-padding-10">
                                        <div class="c-font-16 c-font-bold c-font-grey-3">Selling Price</div>
                                        <div class="c-font-38 c-font-bold">{{product.Price | currency}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-4 c-margin-t-5">
                                    <div class="c-border c-border-grey-1 c-center c-padding-10">
                                        <div class="c-font-16 c-font-bold c-font-grey-3">Units Sold</div>
                                        <div class="c-font-16 c-font-bold c-font-grey-3">in first <span class="c-font-red">7</span> days</div>
                                        <div class="c-font-22 c-font-bold ">{{product.UnitsSold}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-4 c-margin-t-5">
                                    <div class="c-border c-border-grey-1 c-center c-padding-10">
                                        <div class="c-font-16 c-font-bold c-font-grey-3">Seller Score</div>
                                        <div class="c-font-26 c-font-bold">{{product.SellerScore}}</div>
                                        <div class="c-font-10 c-font-bold c-font-grey-3">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row c-margin-t-5">
                                <div class="col-sm-6">
                                    <span class="c-font-14 c-font-bold">Listed On: </span><span class="c-font-16 c-font-bold c-font-red">{{product.DateListed|date:'longDate'}} </span>
                                </div>
                                <div class="col-sm-6">

                                </div>
                            </div>
                            <div class="row c-margin-t-5">
                                <div class="col-md-12">
                                    <a href="{{product.ProductUrl}}" target="_blank" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">Visit Listing</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            *@
                <div ng-show="!isLoading && isEmpty">
                    <div class="c-center">
                        <span class="c-font-20 c-font-red-1"><i class="fa fa-meh-o fa-5x fa-red"></i></span><br /><br />
                        <div class="c-desc c-font-20 c-font-bold c-font-grey-3"> NO RESULTS FOUND. TRY <span class="c-font-red-1">AGAIN</span>.</div>
                    </div>
                </div>
                <div ng-show="isLoading">
                    <div class="c-center">
                        <span class="c-font-20 c-font-red-1"><i class="fa fa-spinner fa-pulse fa-5x"></i></span><br /><br />
                        <div class="c-desc c-font-20 c-font-bold c-font-grey-3"> LOADING RESULTS. PLEASE <span class="c-font-red-1">WAIT</span>.</div>
                    </div>
                </div>

                <!-- END CSS TABLE -->
                <!-- END: CONTENT/SHOPS/SHOP-2-8 -->
                <div class="c-margin-t-20"></div>
                <div class="c-center">
                    <ul uib-pagination
                        template-url="template/pagination/orangepagination.html"
                        ng-model="tableState.pagination.currentPage"
                        ng-change="onPageChanged()"
                        max-size="10"
                        total-items="tableState.pagination.totalItemCount"
                        boundary-link-numbers="true"
                        items-per-page="tableState.pagination.pageSize"
                        class="pagination-sm"
                        rotate="false"
                        ng-show="!isLoading && !isEmpty"></ul>
                </div>
            </div>

    </div>
</div>
<!-- END: PAGE CONTAINER -->
<oib-Jango-Notification messages="notifications"></oib-Jango-Notification>

<script id="template/pagination/orangepagination.html" type="text/ng-template">
    <ul class="c-content-pagination c-square c-theme">
        <li ng-if="::boundaryLinks" ng-class="{disabled: noPrevious()||ngDisabled}"><a href="#" ng-click="selectPage(1, $event)"><i class="fa fa-angle-double-left"></i></a></li>
        <li ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}"><a href="#" ng-click="selectPage(page - 1, $event)"><i class="fa fa-angle-left"></i></a></li>
        <li ng-repeat="page in pages track by $index" ng-class="{'c-active': page.active}"><a href="#" ng-click="selectPage(page.number, $event)">{{page.text}}</a></li>
        <li ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}"><a href="#" ng-click="selectPage(page + 1, $event)"><i class="fa fa-angle-right"></i></a></li>
        <li ng-if="::boundaryLinks" ng-class="{disabled: noNext()||ngDisabled}"><a href="#" ng-click="selectPage(totalPages, $event)"><i class="fa fa-angle-double-right"></i></a></li>
    </ul>
</script>

<script type="text/ng-template" id="AddProduct.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Add Product To Report</h4>
    </div>
    <div class="modal-body" ng-cloak>
        @*<div ng-show="!isLoading && !isEmpty">*@
        <div ng-show="true">
            <div class="row">
                <select ng-model="selectedReport" ng-options="x.Name for x in reports" class="form-control c-square c-theme input-lg" placeholder="Enter Report Name"></select>
            </div>
            <div>
            </div>
        </div>
        @*<div ng-show="!isLoading && isEmpty">*@
        <div ng-show="false">
            <div class="c-center">
                <span class="c-font-20 c-font-red-1"><i class="fa fa-meh-o fa-5x fa-red"></i></span><br /><br />
                <div class="c-desc c-font-20 c-font-bold c-font-grey-3"> NO RESULTS FOUND. TRY <span class="c-font-red-1">AGAIN</span>.</div>
            </div>
        </div>
        @*<div ng-show="isLoading">*@
        <div ng-show="false">
            <div class="c-center">
                <span class="c-font-20 c-font-red-1"><i class="fa fa-spinner fa-pulse fa-5x"></i></span><br /><br />
                <div class="c-desc c-font-20 c-font-bold c-font-grey-3"> LOADING RESULTS. PLEASE <span class="c-font-red-1">WAIT</span>.</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" ng-click="ok()">OK</button>
        <button type="submit" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold" ng-click="cancel()">Cancel</button>
    </div>
</script>

@section ready{
    <!-- BEGIN TRIGGER ORANGE APP ANGULAR CONTROLLER(S) -->
    <script>
        angular.module('triggerOrangeApp', ['orange', 'ngAnimate', 'ngSanitize', 'ui.bootstrap', 'ngCookies'])
            //*** Main Controller ***
            .controller('triggerOrangeCtlr', function ($scope, $http, $window, $uibModal, $cookies) {
                $scope.tableState = {
                    pagination: {
                        currentPage: 1,
                        pageSize: "12",
                        totalItemCount: 0
                    },
                };
                $scope.selectedValues = {
                    site: null,
                    rootCategory: null
                };
                $scope.keywords = "@Html.Raw(Model.Keywords)";
                $scope.allRootCategories = null;
                $scope.allChildCategories = null;
                $scope.sortKey = "@Model.SelectedSortKey";
                $scope.filter = {
                    priceLow: null,
                    priceHigh: null,
                    unitsLow: null,
                    unitsHigh: null,
                    sellerRankLow: null,
                    sellerRankHigh: null
                };
                $scope.isGuideCollapsed = true;
                $scope.isEmpty = false;
                $scope.isLoading = false;
                $scope.isInitializing = true;
                $scope.notifications = [];
                $scope.listedProductIds = [];
                $scope.activeReportId = 0;
                $scope.getProductsPipe = function (tableState) {
                    if ($scope.isInitializing == true) {
                        $scope.selectedValues.site = "@Model.SelectedSite";
                        $scope.initCategories();
                        $scope.selectedValues.rootCategory = "@Model.SelectedRootCategory";
                        $scope.isInitializing = false;
                    }
                    $scope.tableState = tableState;
                    var postData = {
                        "pageSize": tableState.pagination.pageSize,
                        "currentPage": tableState.pagination.currentPage,
                        "site": $scope.selectedValues.site,
                        "root": $scope.selectedValues.rootCategory,
                        "keywords": $scope.keywords,
                        "sortKey": $scope.sortKey,
                        "listId": $scope.activeReportId,
                        "filter": $scope.filter
                    };
                    $scope.isLoading = true;
                    $scope.isEmpty = true;
                    $http.post('@Url.Action("GetHotStarterProducts")', postData).success(function (result) {
                        tableState.pagination.numberOfPages = result.numberOfPages;
                        tableState.pagination.currentPage = result.currentPage;
                        tableState.pagination.totalItemCount = result.totalItemCount;
                        $scope.products = result.products;
                        $scope.productRows = $scope.createProductRows(result.products, tableState.pagination.pageSize, 3);
                        //$scope.listedProductIds = result.listedProductIds;
                        $scope.isLoading = false;
                        $scope.isEmpty = result.products.length == 0;
                        $scope.saveCache();
                        $scope.getRotatingAd();
                    }).error(function (result) {
                        $scope.isLoading = false;
                        $scope.isEmpty = true;
                    });
                };

                $scope.onSearchClick = function () {
                    $scope.tableState.pagination.currentPage = 1;
                    $scope.getProductsPipe($scope.tableState);                
                };

                $scope.onClearClick = function () {
                    $scope.filter.priceLow = null;
                    $scope.filter.priceHigh = null;
                    $scope.filter.unitsLow = null;
                    $scope.filter.unitsHigh = null;
                    $scope.filter.sellerRankLow = null;
                    $scope.filter.sellerRankHigh = null;
                    $scope.keywords = null;
                    $scope.selectedValues.rootCategory = null;
                    $scope.tableState.pagination.currentPage = 1;
                    $scope.getProductsPipe($scope.tableState);
                };

                $scope.initCategories = function () {
                    var postData = {
                        "site": $scope.selectedValues.site
                    };
                    $http.post('@Url.Action("GetRootCategories")', postData).success(function (result) {
                        $scope.allRootCategories = result.categories;
                    });
                };

                @*
                $scope.isProductListed = function (productId) {
                    return $scope.listedProductIds.find(function (id) { return id == productId; });
                };
                *@

                $scope.isProductListed = function (productId) {
                    return $scope.listedProductIds.find(function (id) { return id == productId; });
                };

                $scope.onPageChanged = function () {
                    $window.scrollTo(0, 0);
                    $scope.getProductsPipe($scope.tableState);
                };

                $scope.resultRangeText = function () {
                    var firstItemOrdinal = ($scope.tableState.pagination.currentPage - 1) * $scope.tableState.pagination.pageSize + 1;
                    var lastItemOrdinal = Math.min($scope.tableState.pagination.currentPage * $scope.tableState.pagination.pageSize, $scope.tableState.pagination.totalItemCount);
                    return firstItemOrdinal + " - " + lastItemOrdinal;
                };

                $scope.saveCache = function () {
                    var cacheString = JSON.stringify(
                        {
                            category: $scope.selectedValues.rootCategory,
                            keywords: $scope.keywords,
                            tableState: $scope.tableState
                        });
                    $cookies.put('explore-cache', cacheString);
                };

                $scope.restoreCache = function () {
                    var cacheString = $cookies.get('explore-cache');
                    if (cacheString != null) {
                        var cacheObj = JSON.parse(cacheString);
                        $scope.selectedValues.rootCategory = cacheObj.category;
                        $scope.keywords = cacheObj.keywords;
                        $scope.tableState = cacheObj.tableState;
                    }
                };

                $scope.Init = function () {
                    //$scope.restoreCache();
                    $scope.getProductsPipe($scope.tableState);
                };

                $scope.createProductRows = function (products, pageSize, nColumns) {
                    var nGridColumns = nColumns;
                    var nGridRows = Math.floor(pageSize / nGridColumns);
                    if ((pageSize % nGridColumns) != 0)
                        nGridRows++;
                    var productRows = [];
                    for (var i = 0; i < nGridRows; i++)
                        productRows.push({
                            products: products.slice(i * nGridColumns, Math.min(i * nGridColumns + nGridColumns, products.length)),
                        });
                    return productRows;
                };

                $scope.getRotatingAd = function () {
                    var postData = {
                        adGroup: null
                    };
                    $http.post('@Url.Action("GetRotatingAd", "HostedImage")', postData).success(function (result) {
                        $scope.rotatingAd = result;
                    });
                };

                $scope.Init();

            }).controller("ModalInstanceCtrl", function ($scope, $uibModalInstance, $http) {
                $scope.selectedReport = null;
                $scope.reports = null;
                $scope.isEmpty = null;
                $scope.isLoading = null;
                $scope.getReportsPipe = function () {
                    var postData = {
                        "pageSize": 50,
                        "currentPage": 1,
                    };
                    $scope.isLoading = true;
                    $scope.isEmpty = true;
                    $http.post('@Url.Action("GetReports2", "Reports")', postData).success(function (result) {
                        $scope.totalItemCount = result.totalItemCount;
                        $scope.reports = result.reports;
                        $scope.isLoading = false;
                        $scope.isEmpty = result.reports.length == 0;
                        $scope.selectedReport = $scope.reports[0];
                    }).error(function (result) {
                        $scope.isLoading = false;
                        $scope.isEmpty = true;
                    });
                };
                $scope.ok = function () {
                    $uibModalInstance.close({ id: 'ok', data: $scope.selectedReport.Id });
                };
                $scope.cancel = function () {
                    $uibModalInstance.dismiss({ id: 'cancel', data: null });
                };
                $scope.yes = $scope.ok;
                $scope.no = $scope.cancel;
                $scope.getReportsPipe();
            });
    </script>
    <!-- END TRIGGER ORANGE APP ANGULAR CONTROLLER(S) -->
}







