
@{
    ViewBag.Title = "Index";
}
@section scripts
{
    @Scripts.Render("~/bundles/smarttable/js")
}

<table st-table="dataList" st-pipe="getDataListPipe" class="table table-striped" ng-cloak>
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>   
            <td>Size</td>    
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Active</td>    
        </tr>
    </thead>
    <tr ng-repeat="list in dataList">
        <td>{{list.Id}}</td>
        <td>{{list.Name}}</td>
        <td>{{list.Size}}</td>
        <td><input type="button" class="catSearch" value="Generate Report" ng-click="onGenerateReport(list)" /></td>
        <td><a href="@Url.Action("Details", "Lists")/{{list.Id}}" target="_blank">Details</a></td>
        <td><input type="checkbox" ng-model="list.IsActive" ng-change="onIsActiveChanged(list)"/></td>
    </tr>
</table>
@section ready
{
    <script>
        angular.module('triggerOrangeApp', ['smart-table', 'orange', 'ngAnimate', 'ui.bootstrap'])
           .controller('triggerOrangeCtlr', function ($scope, $http, $uibModal) {
               $scope.isLoading = false;
               $scope.isInitializing = true;
               $scope.onListChange = function () {
                   $scope.tableState.pagination.start = 0;
                   $scope.getProductsPipe($scope.tableState);
               };
               $scope.getDataListPipe = function (tableState) {
                   if ($scope.isInitializing == true) {
                       $scope.isInitializing = false;
                   }
                   $scope.tableState = tableState;
                   $scope.isLoading = true;
                   $scope.GetLists(tableState);
               };
               $scope.GetLists = function(tableState)
               {
                   $http.post('@Url.Action("GetLists")').success(function (result) {
                       tableState.pagination.numberOfPages = result.numberOfPages;
                       tableState.pagination.start = result.start;
                       tableState.pagination.totalItemCount = result.totalItemCount;
                       $scope.dataList = result.dataList;
                       $scope.isloading = false;
                   }).error(function (result) {
                       $scope.isloading = false;
                   });
               };
               $scope.onIsActiveChanged = function (list) {
                   var postData = {
                       "isActive": list.IsActive,
                       "listId": list.Id
                   };
                   $http.post('@Url.Action("SetListActive")', postData).success(function (result) {
                       //todo:show message box.
                   });
               };
               $scope.onGenerateReport = function (list) {
                   var postData = {
                       "listId": list.Id,
                   };
                   $http.post('@Url.Action("GenerateReport")', postData).success(function (result) {
                       //todo:show message box.
                   });
               }
           }).controller("ModalInstanceCtrl", function($scope, $uibModalInstance, $http) {
               $scope.ok = function () {
                   //$scope.GenerateReport($scope.selectedListId);
               };
               $scope.cancel = function() {
                   $uibModalInstance.dismiss('cancel');
               };
               $scope.GenerateReport = function (listId) {
                   var postData = {
                       "listId": listId,
                   };
                   $http.post('@Url.Action("GenerateReport")', postData).success(function (result) {

                   });
               };
               $scope.getLists();
           });
    </script>
}