<div class="navbar-header">
    <a href="@Url.Action("Index", "Home")">
        <img alt="Trigger Red" src="~/Content/trigger_red_header_color.png" />
    </a>
    <!--<span style="color:#bbbbbb">BETA</span>-->
    <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="navRightInnerContainer navbar-collapse collapse" uib-collapse="isNavCollapsed">
    <ul class="nav navbar-nav navbar-right">
        <li uib-dropdown>
            <a id="searchDropdown" uib-dropdown-toggle href="#none">SEARCH</a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="searchDropdown">
                <li><a href="@Url.Action("ByKeywords", "Search")">By Keywords</a></li>
                <li><a href="@Url.Action("ByCategory", "Search")">By Category</a></li>
                <li><a href="@Url.Action("AllCategories", "Search")">Browse All Categories</a></li>
                <li><a href="@Url.Action("HotStarters", "Search")">Hot Starters</a></li>
            </ul>
        </li>
        <li uib-dropdown>
            <a id="searchDropdown" uib-dropdown-toggle href="#none">REPORTING</a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="searchDropdown">
                <li><a href="@Url.Action("Index", "Lists")">Lists</a></li>
                <li><a href="@Url.Action("Index", "Reports")">Reports</a></li>                
            </ul>
        </li>     
        <li><a href="@Url.Action("TaskManager", "Tasks")">TASKS</a></li>
        <li><a href="@Url.Action("About", "Home")">ABOUT</a></li>        
    </ul>
</div>      
